In [ ]:
import pandas as pd

# Fichier original (remplace par ton chemin local)
input_file = "tripadvisor_european_restaurants.csv"

# Fichier de sortie
output_file = "tripadvisor_clean.csv"

# Chargement + filtrage des colonnes
df = pd.read_csv(input_file)


# garder que 10 milles lignes 
df_sampled = df.sample(n=15000, random_state=42)
df_sampled.to_csv("tripadvisor_clean.csv", index=False)

# Sauvegarde du CSV propre
df_sampled.to_csv(output_file, index=False)

print("✅ CSV allégé créé avec succès :", output_file)
print("Nombre de lignes :", len(df_sampled))
print("Taille finale estimée ≈ quelques Mo (au lieu du fichier original)")

/var/folders/_q/g096hx_56dsflszj8_sktz5c0000gn/T/ipykernel_41178/2428213308.py:10: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_file)

✅ CSV allégé créé avec succès : tripadvisor_clean.csv
Nombre de lignes : 1083397
Taille finale estimée ≈ quelques Mo (au lieu du fichier original)

In [7]:
# garder que 10 milles lignes 
df_sampled = df.sample(n=10000, random_state=42)
df_sampled.to_csv("tripadvisor_clean.csv", index=False)

# Sauvegarde du CSV propre
df_sampled.to_csv(output_file, index=False)

In [9]:

print("✅ CSV allégé créé avec succès :", output_file)
print("Nombre de lignes :", len(df_sampled))
print("Taille finale estimée ≈ quelques Mo (au lieu du fichier original)")

✅ CSV allégé créé avec succès : tripadvisor_clean.csv
Nombre de lignes : 10000
Taille finale estimée ≈ quelques Mo (au lieu du fichier original)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("/Users/a33672/Desktop/Open Data/tripadvisor_european_restaurants.csv")
df.head()

/var/folders/fx/tsl3zsg135j65jvptsm6hvvr0000gn/T/ipykernel_7821/3735845204.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/a33672/Desktop/Open Data/tripadvisor_european_restaurants.csv")

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,...,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,...,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN

In [7]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083397 entries, 0 to 1083396
Data columns (total 42 columns):
 #   Column                             Non-Null Count    Dtype
---  ------                             --------------    -----
 0   restaurant_link                    1083397 non-null  object
 1   restaurant_name                    1083396 non-null  object
 2   original_location                  1083397 non-null  object
 3   country                            1083397 non-null  object
 4   region                             1033074 non-null  object
 5   province                           742765 non-null   object
 6   city                               682712 non-null   object
 7   address                            1083397 non-null  object
 8   latitude                           1067607 non-null  float64
 9   longitude                          1067607 non-null  float64
 10  claimed                            1081555 non-null  object
 11  awards                             263133 non-null   object
 12  popularity_detailed                988409 non-null   object
 13  popularity_generic                 985605 non-null   object
 14  top_tags                           972763 non-null   object
 15  price_level                        806192 non-null   object
 16  price_range                        304327 non-null   object
 17  meals                              635347 non-null   object
 18  cuisines                           914294 non-null   object
 19  special_diets                      340256 non-null   object
 20  features                           317407 non-null   object
 21  vegetarian_friendly                1083397 non-null  object
 22  vegan_options                      1083397 non-null  object
 23  gluten_free                        1083397 non-null  object
 24  original_open_hours                593832 non-null   object
 25  open_days_per_week                 593832 non-null   float64
 26  open_hours_per_week                593832 non-null   float64
 27  working_shifts_per_week            593832 non-null   float64
 28  avg_rating                         986761 non-null   float64
 29  total_reviews_count                1031162 non-null  float64
 30  default_language                   988204 non-null   object
 31  reviews_count_in_default_language  988204 non-null   float64
 32  excellent                          988204 non-null   float64
 33  very_good                          988204 non-null   float64
 34  average                            988204 non-null   float64
 35  poor                               988204 non-null   float64
 36  terrible                           988204 non-null   float64
 37  food                               599325 non-null   float64
 38  service                            604287 non-null   float64
 39  value                              602692 non-null   float64
 40  atmosphere                         261785 non-null   float64
 41  keywords                           99198 non-null    object
dtypes: float64(17), object(25)
memory usage: 1.8 GB

In [8]:
print(df.nunique().sort_values(ascending=False).head(20))

restaurant_link                      1083397
address                              1034685
popularity_generic                    981940
popularity_detailed                   981409
longitude                             969586
latitude                              857920
restaurant_name                       840913
original_open_hours                   237890
keywords                               99001
cuisines                               97741
original_location                      65997
features                               56453
city                                   43495
top_tags                               39962
price_range                             7298
total_reviews_count                     3363
open_hours_per_week                     3125
reviews_count_in_default_language       2415
excellent                               1708
province                                1333
dtype: int64

In [6]:
df.nunique()

restaurant_link                      1083397
restaurant_name                       840913
original_location                      65997
country                                   24
region                                   250
province                                1333
city                                   43495
address                              1034685
latitude                              857920
longitude                             969586
claimed                                    2
awards                                   917
popularity_detailed                   981409
popularity_generic                    981940
top_tags                               39962
price_level                                3
price_range                             7298
meals                                    745
cuisines                               97741
special_diets                             68
features                               56453
vegetarian_friendly                        2
vegan_options                              2
gluten_free                                2
original_open_hours                   237890
open_days_per_week                         7
open_hours_per_week                     3125
working_shifts_per_week                   15
avg_rating                                 9
total_reviews_count                     3363
default_language                           2
reviews_count_in_default_language       2415
excellent                               1708
very_good                                832
average                                  458
poor                                     305
terrible                                 353
food                                       9
service                                    9
value                                      9
atmosphere                                 9
keywords                               99001
dtype: int64

In [9]:
# Taux de valeurs manquantes par colonne
missing = df.isna().mean().sort_values(ascending=False)
print("=== Valeurs manquantes (%) ===")
print((missing * 100).round(1))

=== Valeurs manquantes (%) ===
keywords                             90.8
atmosphere                           75.8
awards                               75.7
price_range                          71.9
features                             70.7
special_diets                        68.6
working_shifts_per_week              45.2
open_hours_per_week                  45.2
open_days_per_week                   45.2
original_open_hours                  45.2
food                                 44.7
value                                44.4
service                              44.2
meals                                41.4
city                                 37.0
province                             31.4
price_level                          25.6
cuisines                             15.6
top_tags                             10.2
popularity_generic                    9.0
avg_rating                            8.9
very_good                             8.8
excellent                             8.8
reviews_count_in_default_language     8.8
default_language                      8.8
average                               8.8
terrible                              8.8
poor                                  8.8
popularity_detailed                   8.8
total_reviews_count                   4.8
region                                4.6
longitude                             1.5
latitude                              1.5
claimed                               0.2
restaurant_name                       0.0
restaurant_link                       0.0
gluten_free                           0.0
vegan_options                         0.0
address                               0.0
country                               0.0
original_location                     0.0
vegetarian_friendly                   0.0
dtype: float64

In [10]:
# Colonnes quasi vides (plus de 80% NaN)
empty_cols = missing[missing > 0.8].index.tolist()
if empty_cols:
    print("\n⚠️ Colonnes très incomplètes :", empty_cols)
else:
    print("\n✅ Aucune colonne avec >80% de NaN")

⚠️ Colonnes très incomplètes : ['keywords']

In [11]:
# Coordonnées
lat_valid = df["latitude"].between(-90, 90).sum()
lon_valid = df["longitude"].between(-180, 180).sum()

print(f"\nCoordonnées valides : {lat_valid}/{len(df)} latitudes, {lon_valid}/{len(df)} longitudes")

# Ratings
if "rating" in df.columns:
    print("\nDistribution rating :")
    print(df["rating"].describe())
    print("\nValeurs uniques rating :", sorted(df["rating"].dropna().unique())[:10])

# Reviews
if "num_reviews" in df.columns:
    print("\nDistribution num_reviews :")
    print(df["num_reviews"].describe(percentiles=[.25, .5, .75, .9, .99]))

Coordonnées valides : 1067607/1083397 latitudes, 1067607/1083397 longitudes